.body-container {
    display: flex;
    flex-direction: column;
    animation: translation_page 3000ms backwards ease-in-out;
}

.location-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    height: 50px;
}



.introduction{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: $light-grey;
    height: 200px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.fonctionnement{
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}

.restaurants{
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    &__title {
        margin: 52px 0px 4px $layout-padding;
        @media (min-width:1025px){
            margin-left: 35px;
        }
    }
}

.restaurant-cards-container {
    padding: $layout-padding;
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (min-width:1025px){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}


