.footer {

    &__content {
        background-color:#353535;
        color: white;
        padding: 25px;
        height: 136px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;
        @media (min-width:1025px){
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            align-items: flex-end;
            height: 60px;
        }

        & img {
            height: 18px;
            object-fit: contain;
            @media (min-width:1025px){
                padding: 10px;
                margin: 0px 30px;
            }
        }

        &--text {
            display: flex;
            flex-direction: column;
            gap:5px;
            @media (min-width:1025px){
                display: flex;
                flex-direction: row;
            }
        }

        &--with-icons {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            gap:5px;
            @media (min-width:1025px){
                display: flex;
                flex-direction: row;
                padding:8px;
                gap:20px;
            }

            & i {
                max-width: 10px;
                padding-right: 10px;
            }
        }

        &--without-icons {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            gap:5px;
            @media (min-width:1025px){
                display: flex;
                flex-direction: row;
                padding: 8px;
                gap:20px;
            }
        }
    }
}