.footer {

    &__content {
        background-color:#353535;
        color: white;
        padding: 25px;
        height: 136px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;

        & img {
            height: 18px;
            object-fit: contain;
        }

        &--text {
            display: flex;
            flex-direction: column;
            gap:5px;
        }

        &--with-icons {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            gap:5px;

            & i {
                max-width: 10px;
                padding-right: 10px;
            }
        }

        &--without-icons {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            gap:5px;
        }
    }
}