.header {

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;

        & img {
            width: 162px;
        }
    }

    &__back {
        position: absolute;
        width: 10%;
        margin-left: 23px;
        margin-top: 24px;
        color:#353535;
    }
}