button {
    color: white;
    font-size: 16px;
    border-radius: 30px;
    padding: 17px;
    border: none;
    background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
    margin-top: 10px;
}