.introduction {
    &__title {
        text-align: center;
    }

    &__subtitle {
        font-size: 18px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }
}
