.main-restaurant {
    display: flex;
    flex-direction: column;
}

.menu-section {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    padding: 13px;
    box-sizing: border-box;
    margin-top: 283px;
    z-index: 1;
}

.top-image {
    & img {
        position: absolute;
        width: 100%;
        object-fit: cover;
    }
}

.restaurant-title {
    display: flex;
    margin-top: 2px;

    & h1 {
        font-family: 'Shrikhand', cursive;
        color: black;
        font-weight: 400;
        font-size: 28px;
        padding-top: 30px;
        padding-bottom: 12px;
        line-height: 15px;
    }
}

.menu__title {
    padding-bottom: 5px;
    padding-top: 28px;
    &--green-border {
        width: 40px;
        height: 3px;
        background-color:$light-green;
        margin-bottom: 10px;
    }
    
}
$anim-delay:350ms;
.menu {
    animation: translate_dish 1000ms both ease-in-out;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: $anim-delay*$i;
        }
    }
}