@keyframes translation_page {
	0% {
		transform: translateX(-9999px);
	}

	100% {
		transform: translateX(0px);
	}
}


@keyframes anim_loader {
	0% {
		transform: translateX(300%);
	}

	100% {
		transform: translateX(0%);
	}

}

@keyframes anim_loader_title {
	0% {
		transform: translateX(10%);
	}

	100% {
		transform: translateX(0%);
	}

}

@keyframes opacity {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}

}


@keyframes translate_check {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	25% {
		transform: translateX(75px);
		opacity: 1;
	}
	50% {
		transform: translateX(50px);
		opacity: 1;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes translate_price {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-25px);
	}
	50% {
		transform: translateX(-50px);
	}

	100% {
		transform: translateX(-100px);
	}
}

@keyframes translate_dish {
	0% {
		transform: translateX(-200%);
	}

	100% {
		transform: translateX(0%);
	}

}